[Unit]
Description=KSP Controller

[Service]
Type=simple
ExecStart=/home/pi/kerbal-space-program-controller/ksp-controller
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target